@charset "utf-8";

/*数据不可见*/
.invisible {
    visibility: hidden!important;
}

.old-price-text{
    color: #0000FF;
}
.old-price{
    text-decoration: line-through;
}
.new-price{
    color: #ff0000;
}
.text-small{
    font-size: 11px !important;
}

/* button style*/
.uk-button::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.uk-button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #fff, #eee) repeat scroll 0 0 border-box #f7f7f7;
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.3);
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    color: #666;
    display: inline-block;
    font-family: inherit;
    font-feature-settings: inherit;
    font-kerning: inherit;
    font-language-override: inherit;
    font-size: 1rem;
    font-size-adjust: inherit;
    font-stretch: inherit;
    font-style: inherit;
    font-synthesis: inherit;
    font-variant: inherit;
    font-weight: inherit;
    line-height: 28px;
    margin: 0;
    min-height: 30px;
    overflow: visible;
    padding: 0 12px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
    text-transform: none;
    vertical-align: middle;
}
.uk-button:not(:disabled) {
    cursor: pointer;
}
.uk-button:focus, .uk-button:hover {
    background-color: #fafafa;
    background-image: none;
    color: #666;
    outline: 0 none;
    text-decoration: none;
}
.uk-button.uk-active, .uk-button:active {
    background-color: #f5f5f5;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) inset;
    color: #666;
}
.uk-button-primary {
    background-color: #009dd8;
    background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.uk-button-primary:focus, .uk-button-primary:hover {
    background-color: #00aff2;
    background-image: none;
    color: #fff;
}
.uk-button-primary.uk-active, .uk-button-primary:active {
    background-color: #008abf;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
}
.uk-button-success {
    background-color: #82bb42;
    background-image: linear-gradient(to bottom, #9fd256, #6fac34);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.uk-button-success:focus, .uk-button-success:hover {
    background-color: #8fce48;
    background-image: none;
    color: #fff;
}
.uk-button-success.uk-active, .uk-button-success:active {
    background-color: #76b430;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
}
.uk-button-danger {
    background-color: #d32c46;
    background-image: linear-gradient(to bottom, #ee465a, #c11a39);
    border-color: rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.4);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.uk-button-danger:focus, .uk-button-danger:hover {
    background-color: #e33551;
    background-image: none;
    color: #fff;
}
.uk-button-danger.uk-active, .uk-button-danger:active {
    background-color: #c91c37;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.4) rgba(0, 0, 0, 0.2) rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2) inset;
    color: #fff;
}
.uk-button:disabled {
    background-color: #fafafa;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    box-shadow: none;
    color: #999;
    text-shadow: 0 1px 0 #fff;
}
.uk-button-link, .uk-button-link.uk-active, .uk-button-link:active, .uk-button-link:disabled, .uk-button-link:focus, .uk-button-link:hover {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: transparent;
    box-shadow: none;
    text-shadow: none;
}
.uk-button-link {
    color: #1d8acb;
}
.uk-button-link.uk-active, .uk-button-link:active, .uk-button-link:focus, .uk-button-link:hover {
    color: #0b5f90;
    text-decoration: underline;
}
.uk-button-link:disabled {
    color: #999;
}
.uk-button-link:focus {
    outline: 1px dotted;
}
.uk-button-mini {
    font-size: 11px;
    line-height: 18px;
    min-height: 20px;
    padding: 0 6px;
}
.uk-button-small {
    font-size: 12px;
    line-height: 23px;
    min-height: 25px;
    padding: 0 10px;
}
.uk-button-large {
    border-radius: 5px;
    font-size: 16px;
    line-height: 38px;
    min-height: 40px;
    padding: 0 15px;
}
.uk-button-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
.uk-button-group > * {
    display: inline-block;
}
.uk-button-group .uk-button {
    vertical-align: top;
}
.uk-button-dropdown {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.uk-button-group > .uk-button:not(:first-child):not(:last-child), .uk-button-group > div:not(:first-child):not(:last-child) .uk-button {
    border-radius: 0;
}
.uk-button-group > .uk-button:first-child, .uk-button-group > div:first-child .uk-button {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.uk-button-group > .uk-button:last-child, .uk-button-group > div:last-child .uk-button {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.uk-button-group > .uk-button:nth-child(n+2), .uk-button-group > div:nth-child(n+2) .uk-button {
    margin-left: -1px;
}
.uk-button-group .uk-button:active {
    position: relative;
}

/* modal style */
.uk-modal-header {
    background: none repeat scroll 0 0 #fafafa;
    border-bottom: 1px solid #e5e5e5;
    border-radius: 4px 4px 0 0;
    margin: -20px -20px 15px;
    padding: 20px;
}
.uk-modal-footer {
    background: none repeat scroll 0 0 #fafafa;
    border-radius: 0 0 4px 4px;
    border-top: 1px solid #e5e5e5;
    margin: 15px -20px -20px;
    padding: 20px;
}