@charset "utf-8";

/*header top*/
#header-top{
    background-color: #E7E5E2;
    color: #333333;
    font-size: 12px;
}
#header-top .uk-grid-margin{
    margin-top: 0px;
}
#header-top .uk-panel-box {
    background-color: transparent;
    padding: 5px 0;
}
@media screen and (min-width: 334px){
    #header-top .header-top-left .uk-grid > *:last-child {
        /*padding-left: 15px;*/
    }
}
#header-top .header-top-left a {
    color: #6600FF;
    text-decoration: underline;
}
#header-top .header-top-left > *:not(a){
    color: #000000;
}
#header-top .header-top-right .uk-panel-box {
    float: right;
    width: 210px;
    padding-right: 0;
}
@media screen and (max-width: 758px){
    #header-top .header-top-right .uk-panel-box {
        float: left;
    }
}
#header-top .header-top-right .uk-grid > * {
    padding-left: 25px;
}
#header-top .header-top-right .uk-grid a {
    color: #000000;
}
#header-top .header-top-right .uk-grid > *:first-child > a{
    color: #ff0000;
}

/*header brand*/
#header-brand{
    margin: 20px 0;
}
#header-brand .uk-panel-box{
    background-color: transparent;
}
#header-brand .header-brand-left{
    padding-left: 0;
}
#header-brand .header-brand-left .uk-panel-box{
    padding: 0;
}
#header-brand .header-brand-left .uk-panel-box .uk-grid > *:first-child{
    border-right: 1px solid #000000;
    padding-right: 20px;
}
#header-brand .header-brand-left .uk-panel-box .uk-grid > *:last-child{
    padding-left: 20px;
}
#header-brand .header-brand-left .uk-panel-box .uk-grid > *:last-child > *{
    font-size: 16px;
    color: #000000;
}
#header-brand .header-brand-right .uk-panel-box{
    padding-right: 10px;
}
#header-brand .header-brand-right h2{
    margin: 0;
}
#header-brand .header-brand-right h2 span{
    color: #000000;
}


/*header navbar style*/
#header-navbar {
    position: relative;
    background: none repeat scroll 0 0 #0071b5;
    border: medium none;
    /*padding: 15px 0;*/
    padding-top: 1px;
    padding-bottom: 1px;
}
#header-navbar .category-menu{
    color: #ffffff;
    background-color: #04b8fa;
    width: 200px;
}
#header-navbar .category-menu > a{
    color: #ffffff;
}
#header-navbar .category-menu > a:hover{
    text-decoration: none;
}
#header-navbar .category-menu .uk-dropdown-navbar{
    background-color: #333333;
}
#header-navbar .category-menu .uk-nav-navbar > li > a {
    font-size: 12px;
    text-align: left;
    color: #ffffff;
}
#header-navbar .category-menu .uk-nav-navbar > li > a:hover{
    background-color: #00a8e6;
}
#header-navbar .category-menu .uk-nav-navbar > li > a > i {
    margin-right: 15px;
}
#header-navbar .category-menu .uk-nav-navbar > li.uk-active{
    background-color: #4a4a4a;
}
#header-navbar .uk-navbar-nav > li{
    width: 90px;
    text-align: center;
}
#header-navbar .uk-navbar-nav > li > a {
    border: medium none;
    /*border-radius: 3px !important;*/
    font-size: 15px;
    height: 40px;
    margin: 0;
    text-shadow: none;
    color: #ECDEFF;
}
#header-navbar .uk-navbar-nav > li:hover > a, 
#header-navbar .uk-navbar-nav > li > a:focus, 
#header-navbar .uk-navbar-nav > li.uk-open > a {
    border: medium none;
    color: #fff;
    background-color: transparent;
}
#header-navbar .uk-navbar-nav > li.uk-active > a {
    /*background-color: #2ba3d4;*/
    background-color: #73b904;
    color: #fff;
}
#header-navbar .uk-navbar-nav > li > a:active {
    background-color: transparent;
}
#header-navbar .uk-navbar-flip{
    padding-right: 0;
}
#header-navbar .uk-navbar-brand span{
    color: #ffffff;
    font-weight: bolder;
}


/*off canvas*/
#header-offcanvas .uk-nav-offcanvas {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05);
}
#header-offcanvas .uk-nav-offcanvas .uk-nav-sub {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.05) inset;
}
#header-offcanvas ul.uk-nav-sub {
    padding: 5px 0 5px 15px;
}


/*footer*/
.footer-container {
    height: 200px;
    background-color: #E7E5E2;
}
