@charset "utf-8";

.body-background {
    background: none repeat scroll 0 0 #ffffff;
}

/*圖片輪播*/
#pic-slideshow .uk-dotnav > li > a {
    text-indent: 0;
}
#pic-slideshow .uk-dotnav > li > a:hover{
    text-decoration: none;
}

/*销量冠军与热卖推荐*/
.sale-head > .uk-panel > h3, .hot-sale > .uk-panel > h3{
    margin-bottom: 5px;
    font-size: 12px;
    height:25px;
    line-height:35px;
}
/*销量冠军*/
.sale-head > .uk-panel > .uk-panel{
    border: 1px solid #797671;
    padding: 4px;
}
.sale-head .sale-content{
    border-width: 0;
    padding: 0;
}
.sale-head .sale-content img{
    height: 130px;
}
.sale-head .sale-content .sale-volume{
    background-color: #0F66AD;
    color: #ffffff;
    width: 80px;
}
.sale-head .sale-content .sale-price{
    color: #0F66AD;
    font-size: 18px;
    text-align: center;
}

/*热卖推荐 */
.hot-sale .uk-panel .hot-img-title img{
    width: 100%;
    height: 55px;
}
.hot-sale > .uk-panel > .uk-panel{
    border: 1px solid #797671;
    padding: 4px;
}
.hot-sale > .uk-panel > .uk-panel > .uk-grid > div > .uk-panel{
    padding: 5px;
}
.hot-sale > .uk-panel > .uk-panel > .uk-grid > div:first-child > .uk-panel{
    padding-top: 0;
}
.hot-sale > .uk-panel > .uk-panel > .uk-grid > div:last-child > .uk-panel{
    padding-bottom: 0;
}
.hot-sale > .uk-panel > .uk-panel > .uk-grid > div:nth-child(n+2) > .uk-panel{
    border-top: 1px solid #ccc;
}
.hot-sale .hot-sale-title{
    font-size: 12px;
    padding: 5px 0 5px 0;
}
.hot-sale .hot-sale-price{
    color: #0F66AD;
    font-size: 18px;
}

/*快速服務區*/
#quick-start .quick-start-content {
    top: -35px;
}
#quick-start .quick-start-content:first-child{
    padding: 5px;
}
#quick-start .quick-start-content h2{
    background-color: #ffffff;
    bottom: -40px;
    color: #ff5800;
    font-family: '黑体';
    font-size: 22px;
    font-weight: bolder;
    left: 16px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    width: 90px;
    z-index: 10;
}
#quick-start .quick-start-content hr{
     margin-bottom: 5px;
     border-bottom: 8px solid #FF5800;
}
#quick-start .quick-start-content > .uk-panel {
    border: 1px solid #797671;
    padding: 14px 8px 8px 8px;
}
#quick-start .quick-start-content .uk-thumbnail{
    width: 90px;
    text-align: center;
    border-width: 0;
}

/*保险类型分类模块*/
.category-model-container, .message-container{
    position: relative;
    top: -40px;
}
/*標題圖片公用樣式*/
.insure-title img {
    width: 100%;
    height: 252px;
}
/*保險內容公用樣式*/
.insure-content > .uk-panel {
    border: 1px solid #797671;
    padding: 6px;
    padding-right: 0;
}
.insure-content > .uk-panel > .uk-tab > li > a{
    color: #444444;
}
.insure-content .uk-switcher > li > .uk-panel{
    padding: 6px 0 0;
    height: 195px;
    overflow: hidden;
}
.insure-content .uk-switcher > li > .uk-panel img{
    height: 195px;
}
/*限時促銷公用樣式*/
.time-limited > .uk.panel {
    height: 250px;
    overflow: hidden;
}
.time-limited a.uk-thumbnail{
    border-width: 0;
}
.time-limited .uk-thumbnail > .img-area {
    height: 178px;
    overflow: hidden;
}
.time-limited .uk-thumbnail > .img-area > img{
    width: 100%;
    height: 178px;
}
.time-limited .uk-thumbnail .uk-thumbnail-caption{
    font-weight: bolder;
    font-size: 15px;
    line-height: 25px;
    margin-top: 10px;
    text-align: left;
}
/*旅游保险*/
.travel-ensure {
    border: 1px solid #0099C8;
}
.travel-ensure > .uk-tab {
    border-bottom: 1px solid #0099C8;
}
.travel-ensure > .uk-tab > li.uk-active > a{
    color: #0099C8;
    border-color: #0099C8 #0099C8 transparent;
}
/*傷害保险*/
.personal-ensure {
    border: 1px solid #25CF2E;
}
.personal-ensure > .uk-tab {
    border-bottom: 1px solid #25CF2E;
}
.personal-ensure > .uk-tab > li.uk-active > a{
    color: #25CF2E;
    border-color: #25CF2E #25CF2E transparent;
}
/*人寿保险*/
.life-ensure {
    border: 1px solid #FF667A;
}
.life-ensure > .uk-tab {
    border-bottom: 1px solid #FF667A;
}
.life-ensure > .uk-tab > li.uk-active > a{
    color: #FF667A;
    border-color: #FF667A #FF667A transparent;
}
/*车辆保险*/
.car-ensure {
    border: 1px solid #FE9C02;
}
.car-ensure > .uk-tab {
    border-bottom: 1px solid #FE9C02;
}
.car-ensure > .uk-tab > li.uk-active > a{
    color: #FE9C02;
    border-color: #FE9C02 #FE9C02 transparent;
}
/*住宅綜合保险*/
.fortune-ensure {
    border: 1px solid #CFA577;
}
.fortune-ensure > .uk-tab {
    border-bottom: 1px solid #CFA577;
}
.fortune-ensure > .uk-tab > li.uk-active > a{
    color: #CFA577;
    border-color: #CFA577 #CFA577 transparent;
}
/*健康醫療保险*/
.health-ensure {
    border: 1px solid #B9ACF4;
}
.health-ensure > .uk-tab {
    border-bottom: 1px solid #B9ACF4;
}
.health-ensure > .uk-tab > li.uk-active > a{
    color: #B9ACF4;
    border-color: #B9ACF4 #B9ACF4 transparent;
}


/*資訊*/
.message-container .uk-tab > div {
    position: relative;
    margin-bottom: -1px;
    float: right;
}
/*更多*/
.message-container .uk-tab > div > a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #000000;
    display: block;
    padding: 8px 12px;
    text-decoration: none;
}
.message-container .uk-switcher .uk-grid{
    padding: 15px;
}
.message-container .uk-list-space > li:nth-child(n+2) {
  margin-top: 15px;
}
@media (max-width: 768px) {
    .message-container .uk-switcher > li > .uk-grid > div:nth-child(n+2) .uk-list-space > li:first-child {
        margin-top: 15px;
    }
}

#footer-container{
    position: relative;
    top: -40px;
}