@charset "utf-8";

.login-container > .uk-panel{
    border: 1px solid #797671;
    border-radius: 30px;
    height: 400px;
    padding: 10px;
}
.login-container .login-content-container {
	border-right: 1px solid #000000;
	height: 400px;
}
/*第三方登入*/
.login-container .login-type-container{
    margin-top: 15px;
}
.login-container .login-type-container .third-login-label {
	font-size: 14px;
}
.login-container .login-type-container .uk-icon-button {
    background-color: #457DEC;
    color: #ffffff;
}

.login-container .login-form-container{
    width: 400px;
}

/*忘记密码*/
.login-container .forgot-psw {
	color: #6d6d6d;
}
.login-container .forgot-psw:hover {
	color: #ff0000;
}
/*验证码图片*/
.login-container .validate-code-image {
	width: 200px;
	height: 30px;
}
#login-form input{
    width: 200px;
}
#login-form .uk-button{
    width: 200px;
}
#login-form.uk-form-horizontal .uk-form-label {
    width: 80px;
    text-align: right;
}
#login-form.uk-form-horizontal .uk-form-controls {
    margin-left: 100px;
}