@charset "utf-8";
#member-menu >ul {
	 background-color: white;
	
}
#member-menu > ul > li {
	
	background-image:url(../images/u48.png) ;
	
	height: 40px;
}
#member-menu > ul > li > a{
	color: #000000;
	line-height: 30px;
	
}
